/* jQuery Component containers - overrides for glFusion 'default' theme
----------------------------------*/
.ui-widget {
    font-family: arial,verdana,tahoma,helvetica,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: arial,verdana,tahoma,helvetica,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #a6c9e2;
	background: #fcfdfd url("css/ui-lightness/images/ui-bg_inset-hard_100_fcfdfd_1x100.png") 50% bottom repeat-x;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #ffffff;
	background: #ffffff url("css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
	color: #eaf5f7;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}