<plugin>
    <id>filemgmt</id>
    <name>FileMgmt</name>
    <description>Download Manager</description>
    <version>1.7.7</version>
    <glfusionversion>2.0.0</glfusionversion>
    <phpversion>7.0.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
    <renamedist>config.php.dist</renamedist>
</plugin>