<plugin>
    <id>filemgmt</id>
    <name>FileMgmt</name>
    <description>Download Manager</description>
    <version>1.7.8</version>
    <glfusionversion>1.7.9</glfusionversion>
    <phpversion>5.3.3</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
    <renamedist>config.php.dist</renamedist>
</plugin>