<plugin>
    <id>bad_behavior2</id>
    <name>Bad Behavior2</name>
    <description>Stops spambots in their tracks.</description>
    <version>2.0.54</version>
    <glfusionversion>1.7.5</glfusionversion>
    <phpversion>5.3.3</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>