<plugin>
    <id>calendar</id>
    <name>Calendar</name>
    <description>Online Calendar System</description>
    <version>1.0.6</version>
    <glfusionversion>1.1.8</glfusionversion>
    <phpversion>4.3.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>