<plugin>
    <id>calendar</id>
    <name>Calendar</name>
    <description>Online Calendar System</description>
    <version>1.1.2</version>
    <glfusionversion>1.7.11</glfusionversion>
    <phpversion>5.6.0</phpversion>
    <url>https://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>