User-agent: *
Disallow: /comment.php
Disallow: /docs
Disallow: /pingback.php
Disallow: /profiles.php
Disallow: /search.php
Disallow: /submit.php
Disallow: /trackback.php
Disallow: /admin/
Disallow: /calendar/index.php
Disallow: /docs/images/
Disallow: /filemgmt/brokenfile.php
Disallow: /filemgmt/images/
Disallow: /filemgmt_data/
Disallow: /filemgmt/ratefile.php
Disallow: /filemgmt/submit.php
Disallow: /filemgmt/visit.php
Disallow: /forum/createtopic.php
Disallow: /forum/images/
Disallow: /forum/memberlist.php
Disallow: /forum/print.php
Disallow: /layout/vintage/
Disallow: /layout/cms/
Disallow: /webservices/
Disallow: /rater.php
Disallow: /rater_rpc.php