/* Calendar Plugin */
#cal-body {
  width:100%;
  padding:5px;
  border-collapse:separate;
  background:#FFFFFF;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font-weight:bold;
}

.cal-day,
.cal_day {
  vertical-align:top;
  background:transparent;
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
  border-top:#777777 2px solid;
  color:#000000;
  font-weight:bold;
}

.cal-dayview-times {
  background:#F7F7F7;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#1A3955 1px dashed;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  vertical-align:bottom;
}

.cal-dayx-body {
  padding:2px;
  width:100%;
  background:#E7E7E7
}

.cal-dayx-cur {
  background:#FFFFFF;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
}

.cal-dayx-subcur {
  background:#FFFFFF;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  padding-top:4px;
}
.cal-dayx-times {
  width:1%;
  vertical-align:top;
  border-bottom:#FFFFFF 1px solid;
  border-left:#FFFFFF 1px solid;
  border-right:#FFFFFF 1px solid;
}

.cal-dayx-times2 {
  background:#FFFFFF;
}

.cal-dayx-weekevent {
  width:1%;
  white-space: nowrap;
  border-bottom:#FFFFFF 1px solid;
  border-left:#FFFFFF 1px dashed;
  border-right:#FFFFFF 1px dashed;
  border-top:#E7E7E7 1px solid;
}

.cal-futureday {
  background:#F7F7F7;
}

#cal-header {
  width:100%;
  padding:5px;
  border-collapse:collapse;
  background:#FFFFFF;
  border-bottom:#F7F7F7 1px solid;
  border-left:#F7F7F7 1px solid;
  border-right:#F7F7F7 1px solid;
  border-top:#F7F7F7 1px solid;
}

.cal-hr {
  background:#FFFFFF;
}

.cal-jump {
  width:150px;
  margin:0px auto;
  padding:5px;
  text-align:center !important;
}

.cal-month,
.cal_month {
  background:#F7F7F7;
  color:#000000;
  font-size:.9em;
  vertical-align:top;
}

.cal-nullday {
  background:#FFFFFF;
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
  border-top:#F7F7F7 1px dashed;
  color:#000000;
}

.cal-oldday {
  background:#E7E7E7;
  color:#000000;
}

.cal-quickadd,
.quickadd {
  width:100%;
  background:#F7F7F7;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  padding:4px;
}

.cal-today {
  background:#FFFFFF;
  border-bottom:#1A3955 1px dashed;
  border-left:#1A3955 1px dashed;
  border-right:#1A3955 1px dashed;
  border-top:#1A3955 1px dashed;
}
.cal-weekpointers {
  vertical-align:middle;
  text-align:center;
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
}

.cal-weekview-addevent {
  background:#FFFFFF;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  padding:4px;
  text-align:right;
  white-space: nowrap;
}

.cal-weekview-caltitle {
  background:#FFFFFF;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  padding:4px;
}

.cal-weekview-curday,
.weekview_curday {
  background:#F7F7F7;
  color:#000000;
}

.cal-weekview-daterange {
  background:#FFFFFF;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  padding:4px;
}

.cal-weekview-dayformat {
  background:#FFFFFF;
  border-left:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font-weight:bold;
  font-size:.8em;
  padding:4px;
}

.cal-weekview-offday,
.weekview_offday {
  background:transparent;
  color:#000000;
}

.dayview_times {
  text-align:center;
}
.personal-master-opt {
  margin:0px auto;
  padding:5px;
}
.smallcal-week-even {
  background:#E7E7E7;
  color:#000000;
}

#cal-hours {
  background: #000000 none repeat scroll 0% 50%;
  width: 100% ! important;
  float: left;
  text-align:left;
  color: #000000;
  line-height: normal;
  font-size: 11px;
  font-family: Verdana;
}

#cal-daysx {
  background: transparent none repeat scroll 0% 50%;
  width: 99%;
  float: left;
  text-align: left;
  height: 45px;
  color: #000000;
  line-height: normal;
  font-size: 11px ! important;
  font-family: Verdana;
}

#cal-week {
  background: transparent none repeat scroll 0% 50%;
  float: left;
  width: 33%;
  text-align: center;
}
#cal-day {
  background: transparent none repeat scroll 0% 50%;
  width: 33%;
  float: left;
  text-align: center;
  vertical-align:top;
}
#cal-month {
  background: transparent none repeat scroll 0% 50%;
  width: 34%;
  float: left;
  text-align: center;
}

