# glFusion CMS repository ignore file
#
# git update-index --assume-unchanged private/logs/error.log
# git update-index --assume-unchanged private/logs/captcha.log
# git update-index --assume-unchanged private/logs/access.log
# git update-index --assume-unchanged private/logs/spamx.log
# git update-index --assume-unchanged public_html/backend/glfusion.rss
# git ls-files -v | grep '^[[:lower:]]'
#

# ignore thumbnails created by Windows
**/Thumbs.db

# ignore thumbnails created by macOS
.DS_Store

# ignore sync directories
.sync/
.stignore
/Icon*

# Configuration, Log and cache files
db-config.php
siteconfig.php
lib-custom.php
custom.css
404.log
public_html/.htaccess
public_html/web.config
aspnet_client/
public_html/jscache_*.js
public_html/stylecache_*.css
style.cache.css
js.cache.js
sitemap.xml
mobile.xml

# Data directories
private/data/
private/backups/
private/logs/
private/lib/htmlpurifier/HTMLPurifier/DefinitionCache/**

#Images
public_html/data/images/
public_html/data/images/articles/
public_html/data/images/userphotos/
public_html/data/images/topics/
public_html/data/images/forum/
public_html/backend/

#Development
public_html/test/
public_html/utils/

# Media Gallery
private/plugins/mediagallery/config.php
public_html/data/mediagallery/mediaobjects/tn/
public_html/data/mediagallery/mediaobjects/orig/
public_html/data/mediagallery/mediaobjects/disp/
public_html/data/mediagallery/mediaobjects/covers/
private/plugins/mediagallery/uploads/

# Forum
public_html/data/forum/media/

# FileMgmt
public_html/data/filemgmt/files/
public_html/data/filemgmt/category_snaps/
public_html/data/filemgmt/snaps/

# ceditor
public_html/ckeditor/build-config.js

# Non-bundled plugins
