private/data/
private/db-config.php
private/system/lib-custom.php
public_html/siteconfig.php
public_html/mediagallery/mediaobjects/
public_html/web.config
public_html/backend/
public_html/tinymce/
public_html/admin/plugins/tinymce/
public_html/images/
private/lib/htmlpurifier/HTMLPurifier/DefinitionCache/
public_html/jscache_*.js
public_html/stylecache_*.css
