# glFusion CMS repository ignore file
#
# git update-index --assume-unchanged private/logs/error.log
# git update-index --assume-unchanged private/logs/captcha.log
# git update-index --assume-unchanged private/logs/access.log
# git update-index --assume-unchanged private/logs/spamx.log
# git update-index --assume-unchanged public_html/backend/glfusion.rss
# git ls-files -v | grep '^[[:lower:]]'
#
db-config.php
siteconfig.php
lib-custom.php
custom.css
404.log

public_html/.htaccess
public_html/web.config
aspnet_client/

private/data/
private/backups/
private/logs/
private/lib/htmlpurifier/HTMLPurifier/DefinitionCache/**

public_html/images/
public_html/images/articles/
public_html/images/userphotos/
public_html/images/topics/
public_html/images/forum/
public_html/backend/

public_html/jscache_*.js
public_html/stylecache_*.css
style.cache.css
js.cache.js

sitemap.xml
mobile.xml

# Media Gallery
private/plugins/mediagallery/config.php
public_html/mediagallery/mediaobjects/tn/
public_html/mediagallery/mediaobjects/orig/
public_html/mediagallery/mediaobjects/disp/
private/plugins/mediagallery/uploads/

# Forum
public_html/forum/media/

# FileMgmt
public_html/filemgmt_data/files/

# ignore thumbnails created by Windows
**/Thumbs.db

# ignore thumbnails created by OSX
.DS_Store

# local items
