<plugin>
    <id>staticpages</id>
    <name>Static Pages</name>
    <description>Static Content Management</description>
    <version>1.6.5</version>
    <glfusionversion>1.7.9</glfusionversion>
    <phpversion>5.3.3</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>
