<plugin>
    <id>staticpages</id>
    <name>Static Pages</name>
    <description>Static Content Management</description>
    <version>1.5.4</version>
    <glfusionversion>1.1.5</glfusionversion>
    <phpversion>4.3.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>