<plugin>
    <id>links</id>
    <name>Links</name>
    <description>Links Management</description>
    <version>2.1.7</version>
    <glfusionversion>2.0.1</glfusionversion>
    <phpversion>7.4.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>