/* IE 6 ONLY LAYOUT  STYLESHEET*************************************************
This file only contains CSS fixes for the IE 6 browser. For regular style info use style.css
NOTE: paths specified below are relative to this file
 */
.bottom-r-corner {
  background:#fff url(bottom-r-corner.png) 100% 20px no-repeat;
  height:5px;
}
.bottom-l-corner {
  background:transparent url(bottom-l-corner.png) 0 15px no-repeat;
  height:5px;
}
#gl_moomenu {
  font-size:50%;
}
.buttons {
  padding-top:5px;
}
.steplist .steplist-content {
  padding:10px 18px;
}
.stepfields input {
  margin:4px 0;
}