/* IE 6 ONLY LAYOUT  STYLESHEET*************************************************
This file only contains CSS fixes for the IE 6 browser. For regular style info use style.css
NOTE: paths specified below are relative to this file
 */
.bottom-r-corner {
	background:#FFF url(bottom-r-corner.png) 100% 10px no-repeat;
}
.bottom-l-corner {
	background:transparent url(bottom-l-corner.png) 0 10px no-repeat;
}