/* IE 7 ONLY LAYOUT  STYLESHEET*************************************************
This file only contains CSS fixes for the IE 7 browser. For regular style info use style.css
NOTE: paths specified below are relative to this file
 */
.stepheading {
  padding-top:5px;
}
.stepfields input {
  margin:4px 0;
}