<plugin>
    <id>ckeditor</id>
    <name>CKEditor</name>
    <description>CKEditor Provided WYSIWYG Editor Features</description>
    <version>1.2.0</version>
    <glfusionversion>1.7.5</glfusionversion>
    <phpversion>5.3.3</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>