<plugin>
    <id>ckeditor</id>
    <name>CKEditor</name>
    <description>CKEditor Provided WYSIWYG Editor Features</description>
    <version>1.2.0</version>
    <glfusionversion>2.0.0</glfusionversion>
    <phpversion>7.1.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>