.sm-uikit {
  background: transparent;
}

.sm-uikit a, .sm-uikit a:hover, .sm-uikit a:focus, .sm-uikit a:active {
  padding: 13px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  color: #555555;
  text-decoration: none;

}
.sm-uikit a.current {
  color: #444;
}
.sm-uikit a.disabled {
  color: #bbbbbb;
}
.sm-uikit a span.sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 16px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.sm-uikit a.highlighted span.sub-arrow:before {
  display: block;
  content: '-';
}
.sm-uikit > li:first-child > a, .sm-uikit > li:first-child > :not(ul) a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.sm-uikit > li:last-child > a, .sm-uikit > li:last-child > *:not(ul) a, .sm-uikit > li:last-child > ul,
.sm-uikit > li:last-child > ul > li:last-child > a, .sm-uikit > li:last-child > ul > li:last-child > *:not(ul) a, .sm-uikit > li:last-child > ul > li:last-child > ul,
.sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.sm-uikit > li:last-child > a.highlighted, .sm-uikit > li:last-child > *:not(ul) a.highlighted,
.sm-uikit > li:last-child > ul > li:last-child > a.highlighted, .sm-uikit > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-uikit > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.sm-uikit li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-uikit > li:first-child {
  border-top: 0;
}
.sm-uikit ul {
  background: rgba(162, 162, 162, 0.1);
}
.sm-uikit ul a, .sm-uikit ul a:hover, .sm-uikit ul a:focus, .sm-uikit ul a:active {
/*  font-size: 16px; */
  border-left: 8px solid transparent;
}
.sm-uikit ul ul a,
.sm-uikit ul ul a:hover,
.sm-uikit ul ul a:focus,
.sm-uikit ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-uikit ul ul ul a,
.sm-uikit ul ul ul a:hover,
.sm-uikit ul ul ul a:focus,
.sm-uikit ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-uikit ul ul ul ul a,
.sm-uikit ul ul ul ul a:hover,
.sm-uikit ul ul ul ul a:focus,
.sm-uikit ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-uikit ul ul ul ul ul a,
.sm-uikit ul ul ul ul ul a:hover,
.sm-uikit ul ul ul ul ul a:focus,
.sm-uikit ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-uikit ul {
    position: absolute;
    width: 12em;
  }

  .sm-uikit li {
    float: left;
  }

  .sm-uikit.sm-rtl li {
    float: right;
  }

  .sm-uikit ul li, .sm-uikit.sm-rtl ul li, .sm-uikit.sm-vertical li {
    float: none;
  }

  .sm-uikit a {
    white-space: nowrap;
  }

  .sm-uikit ul a, .sm-uikit.sm-vertical a {
    white-space: normal;
  }

  .sm-uikit .sm-nowrap > li > a, .sm-uikit .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */
  .sm-uikit {
    padding: 0 10px;
    background: transparent;
  }
  .sm-uikit a, .sm-uikit a:hover, .sm-uikit a:focus, .sm-uikit a:active, .sm-uikit a.highlighted {
    padding: 0px 15px;
    color: #555555;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .sm-uikit a:hover, .sm-uikit a:focus, .sm-uikit a:active, .sm-uikit a.highlighted {
/*    color: #d23600; */
    color: #444;
  }
  .sm-uikit a.current {
/*    color: #d23600; */
    color: #444;
  }
  .sm-uikit a.disabled {
    color: #bbbbbb;
  }
  .sm-uikit a.has-submenu {
    padding-right: 24px;
  }
  .sm-uikit a span.sub-arrow {
    top: 50%;
    margin-top: -2px;
    right: 12px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .sm-uikit a.highlighted span.sub-arrow:before {
    display: none;
  }
  .sm-uikit li {
    border-top: 0;
  }
  /*
  .sm-uikit > li > ul:before,
  .sm-uikit > li > ul:after {
    content: '';
    position: absolute;
    top: -18px;
    left: 30px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 9px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #bbbbbb transparent;
  }
*/
  .sm-uikit > li > ul:after {
    top: -16px;
    left: 31px;
    border-width: 8px;
    border-color: transparent transparent #bbb transparent;
  }

  .sm-uikit ul {
/* uncomment if you want border around dropdown */
/*    border: 1px solid #bbbbbb; */
    padding: 5px 0;
    background: transparent; /* white; */
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  }
  .sm-uikit ul a, .sm-uikit ul a:hover, .sm-uikit ul a:focus, .sm-uikit ul a:active, .sm-uikit ul a.highlighted {
    border: 0 !important;
    padding: 10px 20px;
    color: #555555;
  }
  .sm-uikit ul a:hover, .sm-uikit ul a:focus, .sm-uikit ul a:active, .sm-uikit ul a.highlighted {
    background: #eeeeee;
/*    color: #d23600; */
    color: #444;
  }
  .sm-uikit ul a.current {
/*    color: #d23600; */
    color: #444;
  }
  .sm-uikit ul a.disabled {
    background: transparent; /*white;*/
    color: #cccccc;
  }
  .sm-uikit ul a.has-submenu {
    padding-right: 20px;
  }
  .sm-uikit ul a span.sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }
  .sm-uikit span.scroll-up,
  .sm-uikit span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: white;
    height: 20px;
  }
  .sm-uikit span.scroll-up:hover,
  .sm-uikit span.scroll-down:hover {
    background: #eeeeee;
  }
  .sm-uikit span.scroll-up:hover span.scroll-up-arrow, .sm-uikit span.scroll-up:hover span.scroll-down-arrow {
/*    border-color: transparent transparent #d23600 transparent; */
    border-color: transparent transparent #444 transparent;
  }
  .sm-uikit span.scroll-down:hover span.scroll-down-arrow {
/*    border-color: #d23600 transparent transparent transparent; */
    border-color: #444 transparent transparent transparent;
  }
  .sm-uikit span.scroll-up-arrow, .sm-uikit span.scroll-down-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }
  .sm-uikit span.scroll-down-arrow {
    top: 8px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }
  .sm-uikit.sm-rtl a.has-submenu {
    padding-right: 12px;
    padding-left: 24px;
  }
  .sm-uikit.sm-rtl a span.sub-arrow {
    right: auto;
    left: 12px;
  }
  .sm-uikit.sm-rtl.sm-vertical a.has-submenu {
    padding: 10px 20px;
  }
  .sm-uikit.sm-rtl.sm-vertical a span.sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-uikit.sm-rtl > li > ul:before {
    left: auto;
    right: 30px;
  }
  .sm-uikit.sm-rtl > li > ul:after {
    left: auto;
    right: 31px;
  }
  .sm-uikit.sm-rtl ul a.has-submenu {
    padding: 10px 20px !important;
  }
  .sm-uikit.sm-rtl ul a span.sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-uikit.sm-vertical {
    padding: 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .sm-uikit.sm-vertical a {
    padding: 10px 20px;
  }
  .sm-uikit.sm-vertical a:hover, .sm-uikit.sm-vertical a:focus, .sm-uikit.sm-vertical a:active, .sm-uikit.sm-vertical a.highlighted {
    background: transparent; /* white; */
  }
  .sm-uikit.sm-vertical a.disabled {
    background: #eeeeee;
  }
  .sm-uikit.sm-vertical a span.sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }
  .sm-uikit.sm-vertical > li > ul:before,
  .sm-uikit.sm-vertical > li > ul:after {
    display: none;
  }
  .sm-uikit.sm-vertical ul a {
    padding: 10px 20px;
  }
  .sm-uikit.sm-vertical ul a:hover, .sm-uikit.sm-vertical ul a:focus, .sm-uikit.sm-vertical ul a:active, .sm-uikit.sm-vertical ul a.highlighted {
    background: #eeeeee;
  }
  .sm-uikit.sm-vertical ul a.disabled {
    background: transparent; /* white; */
  }
}

/* overrides */

.tm-navbar .sm-uikit ul a:hover,
.tm-navbar .sm-uikit ul a:focus,
.tm-navbar .sm-uikit ul a:active,
.tm-navbar .sm-uikit ul a.highlighted {
  background: #39f;
  color: #fff;
}

.tm-navbar::before,
.tm-navbar::after {
	margin-top: 7px !important;
}

.tm-navbar {
	border-radius:0 !important;
	padding: 1px 0px 6px !important;
	border: medium none !important;
/* override the back ground color of the menu */
	background: #325482 none repeat scroll 0% 0% !important;
	outline: none !important;
	text-shadow:none !important;
}

uk-navbar-nav > li > a {
    text-shadow:none !important;
    color:#fff !important;
}

.tm-navbar-brand {
	color: #eee !important;
}
.tm-navbar-brand a {
	text-shadow:none;
	color: #fff;
}
.tm-navbar-brand a:hover {
	color:#ababab;
	text-decoration:none;
}

.tm-navbar-brand-oc  {
	max-width:90% !important;
}

.tm-navbar-brand-oc a { /* off canvas */
	text-shadow:none;
	color: #fff;
}
.tm-navbar-brand-oc a:hover {
	color:#ababab;
	text-decoration:none;
}

/* - set background on dropdown - */
.tm-navbar ul li ul {
    background: #325482 !important;
}

/* .tm-navbar */
.tm-navbar-nav > li > a {
	border: medium none;
	border-radius: 3px !important;
	font-size: 15px !important;
	height: 40px !important;
	margin: 0 !important;
	text-shadow: none;
}

.tm-dropdown {
	background: #325482  none repeat scroll 0 0 !important;
	color:#000;
	border-radius: 0 !important;
	border: 0 !important;
}

/* nav overload */
.tm-navbar-nav > li:hover > a,
.tm-navbar-nav > li > a:focus,
.tm-navbar-nav > li.uk-open > a {
	background-color: transparent !important;
	color: #fff;
	/* 3 */
	outline: none;
	background: #35B3EE  none repeat scroll 0 0 !important;
	border-radius: 3px !important;
}
.tm-navbar-nav > li > a {

	color: #fff !important;
	text-shadow: none !important;
}

/* -- off canvas nav --- */
.tm-navbar-toggle {
	color: #ccc !important;
	text-shadow: none !important;
}
.tm-navbar-toggle:hover,
.tm-navbar-toggle:focus {
	color: #fff !important;
}

.sm-uikit ul a,
.sm-uikit ul a:hover,
.sm-uikit ul a:focus,
.sm-uikit ul a:active,
.sm-uikit ul a.highlighted {
    color:#fff !important;
}

/* changes color of down arrow at first level */
  .sm-uikit a span.sub-arrow {
    border-color: #fff transparent transparent transparent;
  }


/* changes color of right arrow for sub-menus */
  .sm-uikit ul a span.sub-arrow {
    border-color: transparent transparent transparent #fff;
  }

  /* disabled menu items */

  .sm-uikit ul a.disabled {
    background: transparent !important;
    color: #cccccc !important;
  }

  /* mega menu */
  .mega-menu {
    color:#fff;
}