<plugin>
    <id>captcha</id>
    <name>CAPTCHA</name>
    <description>CAPTCHA Security Plugin</description>
    <version>3.5.3</version>
    <glfusionversion>1.6.1</glfusionversion>
    <phpversion>5.3.3</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>