<plugin>
    <id>captcha</id>
    <name>CAPTCHA</name>
    <description>CAPTCHA Security Plugin</description>
    <version>3.2.4</version>
    <glfusionversion>1.1.9</glfusionversion>
    <phpversion>4.3.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>