<plugin>
    <id>mediagallery</id>
    <name>Media Gallery</name>
    <description>Online Media Management System (Photo Albums, etc.)</description>
    <version>2.1.4</version>
    <glfusionversion>1.8.0</glfusionversion>
    <phpversion>7.1.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
    <renamedist>config.php.dist</renamedist>
</plugin>
