<?php

$mydownloads_popular      = 20;
$mydownloads_newdownloads = 10;
$mydownloads_perpage      = 5;
$mydownloads_trimdesc     = 1;
$mydownloads_whatsnew     = 1;
$mydownloads_dlreport     = 1;
$mydownloads_selectpriv   = 0;
$mydownloads_publicpriv   = 1;
$mydownloads_uploadselect = 1;
$mydownloads_uploadpublic = 1;
$mydownloads_useshots     = 1;
$mydownloads_shotwidth    = 50;
$filemgmt_Emailoption     = 1;
$filemgmt_FileStore        = "##FILESTORE##";
$filemgmt_SnapStore        = "##SNAPSTORE##";
$filemgmt_SnapCat          = "##SNAPCAP##";
$filemgmt_FileStoreURL     = "##STOREURL##";
$filemgmt_FileSnapURL      = "##SNAPURL##";
$filemgmt_SnapCatURL       = "##CATURL##";

?>