<?php
/*
 * This list must be network CIDRS - it cannot contain just a single IP address.
 *
 * To block a single IP address, you must enter the CIDR for that address,
 * for example, to block 192.168.1.5 - you would enter 192.168.1.5/32
 *
 * example of how you would enter CIDRs:
 *
 *
 * $bb2_blacklist_cidrs = array(
 *                             '198.55.96.0/19',         // quadranet
 *                             '69.12.64.0/19',          // quadranet
 *                             '155.94.128.0/17',        // quadranet
 *                             );
 *
 *
 * IMPORTANT: It is important that you enter the data correctly, a misplaced
 *            comma or incorrect format will prevent your site from loading!!
 *
 *
 */

$bb2_blacklist_cidrs = array(

                            );
?>