/* glFusion Documentation Style sheet */

body {
    font:10pt "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
    background-color:White;
    color:Black;
}
table {
    font-size:100%;
    padding:0;
    margin:0;
}
tr,td,th {
    padding:0;
    margin:0;
}
img {
    border:0;
}

a {
    color:#000;
    text-decoration:underline;
    background:none !important;
}

p a {
    color:#000;
    text-decoration:underline;
    background:none !important;
}

div.meta {
    clear:both;
    margin-top:1em;
    font-size:70%;
    text-align:right;
}

#gl_container_fluid {
  background:#FFFFFF; /*needs to be set here*/
  min-width:540px;
  margin:20px 20px !important;
  margin:20px 20px 30px 20px;
}

#gl_wrapper {
  background:#FFF;
  float:left;
  padding:10px 20px 20px;
  width:93%;
}
#gl_content-full {
  background:#FFFFFF;
  margin:0 10px 0 10px;
  height:1%; /*fix for peek-a-boo bug in IE*/
}

#gl_footer {
  background:#000 url(gl_moomenu1-bg.gif) repeat;  /*main menu background*/
  clear:left;
  height:27px;

}

#gl_footer p {
  color:#FFF;
  text-decoration:none;
  vertical-align:middle;
  padding-top:5px;
  padding-left:5px;
}
#gl_footer a {
  color:#FFF;
  text-decoration:none;
}

#gl_header {
  background:#000 url(gl_moomenu1-bg.gif) repeat;  /*main menu background*/
  height:27px;
  margin:0;
  position:relative;
  z-index:50;
}
#gl_header a {
  color:#FFF;
  text-decoration:none;
  padding-top:5px;
}
#gl_header a:link{
  color:#FFF;
  text-decoration:none;
  padding-top:5px;
}
#gl_header a:hover {
  color:#CCC;
  text-decoration:none;
}

table.inline {
    width:100%;
    background-color:#fff;
    border-spacing:0px;
    border-collapse:collapse;
}

table.inline th{
    padding:3px;
    border:1px solid #8cacbb;
    background-color:#dee7ec;
}
table.inline td {
    padding:3px;
    border:1px solid #8cacbb;
}

div.level1 {
    margin-left:3px;
}
div.level2 {
    margin-left:3px;
}
div.level3 {
    margin-left:3px;
}
div.level4 {
    margin-left:3px;
}
div.level5 {
    margin-left:3px;
}

.inline a {
    text-decoration:none;
}

h1 a, h2 a,h3 a,h4 a,h5 a,a.nolink {
    color:#000 !important;
    text-decoration:none !important;
}
a.urlextern {
    padding:1px 0px 1px 16px;
}

h1,h2,h3,h4,h5 {
    color:#000;background-color:inherit;
    font-size:100%;
    font-weight:normal;
    margin:0 0 1em 0;
    padding:0.5em 0 0 0;
    border-bottom:1px solid #8cacbb;
    clear:left;
}
h1 {
    font-size:160%;
    margin-left:0px;
    font-weight:bold;
}
h2 {
    font-size:150%;
    margin-left:0px;
}
h3 {
    font-size:140%;
    margin-left:0px;
    border-bottom:none;
    font-weight:bold;
}
h4 {
    font-size:120%;
    margin-left:0px;
    border-bottom:none;
    font-weight:bold;
}
h5 {
    font-size:100%;
    margin-left:0px;
    border-bottom:none;
    font-weight:bold;
}

.col0 {
    width:25%;
}