<plugin>
    <id>polls</id>
    <name>Polls</name>
    <description>Online Poll System</description>
    <version>2.2.3</version>
    <glfusionversion>2.0.0</glfusionversion>
    <phpversion>7.1.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>