<plugin>
    <id>polls</id>
    <name>Polls</name>
    <description>Online Poll System</description>
    <version>2.2.3</version>
    <glfusionversion>1.7.0</glfusionversion>
    <phpversion>5.3.3</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>