/* This file contains all the CSS for gl_moo-based javascript goodies****
gl_moomorph
gl_moorotator
gl_mooslide
gl_moosprings
gl_mooticker
gl_mootips
**************************************************************/

/*gl_moomorph CSS*******************/
.morph-start {
  border: 1px solid #000000;
  margin:10px;
  font-weight:bold;
  width:95%;
}
.morph-end {
}

/*gl_moorotator CSS*******************/
#gl_moorotator{
  position:relative;
  z-index:1;
  height:160px; /* the total height of the image rotator window*/
  overflow:hidden;
  margin:auto;
}
#gl_moorotator .gl_moorotatorimage{
  float:left;
  top:10px;
  left:0;
  position:relative;
  height:160px;
  z-index:1;
  overflow:hidden;
}
#gl_moorotator .gl_moorotatortext{
position:relative;
top:125px;
z-index:2;
margin-left:10px;
display:block;
color:#FFF;
}
.gl_moorotatortext a,
.gl_moorotatortext a:hover{
color:#FFF;
text-decoration:none;
}
#gl_moorotator .controls{
  position:absolute;
  top:20px;
  right:10px;
  z-index:5;
}
#gl_moorotator .controls img {
  background-image:url(../images/gl_mooticker_controls.png);
  cursor:pointer;
  height:15px;
  margin-right:5px;
  width:15px;
}
#gl_moorotator .control-prev {
  background-position:0 0;
}
#gl_moorotator .control-next {
  background-position:0 -17px;
}
#gl_moorotator  .control-pause{
  background-position:0 -34px;
}
#gl_moorotator  .control-play {
  background-position:0 -51px;
}

/*gl_mooslide CSS*******************/
.gl_slide {
  margin:0 auto;
}
hr {
  clear: both;
  height: 0;
  border: 0;
  display: none;
}
/* The toolbar for the content box */
ul#gl_slide-toolbar {
  text-align: center;
  list-style: none;
  margin: 1em auto 0 auto;
  padding: 0 0 0 5px;
  clear: both;
}
#gl_slide-toolbar li {
  float: left;
  height: 28px;
  line-height: 28px;
  display: block;
  cursor: pointer;
  list-style: none;
  padding: 0 15px;
  margin-left: 3px;
  font-weight: bold;
}	
div#frame {
  clear: both;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin:auto;
}	
div#frame div.button {
  position: absolute;
  width: 28px;
  height: 28px;
  cursor: pointer;
  overflow: hidden;
  top: 40%;
}
div#frame div.button#left {
  left: 10px;
}
div#frame div.button#right {
  right: 10px;
}
div#frame div.button#left:hover, div#frame div.button#left.hover,
div#frame div.button#right:hover, div#frame div.button#right.hover{
  background-position: 0 0px;
}
#scroller {
  margin: 0 auto;
  overflow: hidden;
}
.tab-pane {
  margin: 0 20px;
  float: left;
  overflow: hidden;
}
.tab-pane img {
  padding: 0 10px;
}
/* @group gl_slide */
ul#gl_slide-toolbar {
}
#gl_slide-toolbar li.active { 
  background: url(../images/header-bg.png) repeat top;
  color: #333;
}
#gl_slide-toolbar li.current { 
  background: #D7D7D7;
  color: #333;
}
#gl_slide-toolbar li {
  background: url(../images/header-bg.png) repeat bottom;
  color: #FFF;
}
div#frame {
  border: 5px solid #CCCCCC;
}
div#frame div.button#left { 
  background: url(../images/prev.png) no-repeat;
}
div#frame div.button#right { 
  background: url(../images/next.png) no-repeat;
}

/*gl_moosprings CSS*******************/
#gl_moospring {
background:url(../images/joinus.jpg) no-repeat scroll 100%;
height:100px;
margin-top:10px;
width:525px;
}
#gl_moospring .gl_moosprings {
height:100px;
list-style-type:none;
margin:0;
padding:0;
}
#gl_moospring li {
float:left;
list-style-type:none;
}
#gl_moospring .gl_moospring {
display:block;
cursor:pointer;
overflow:hidden;
height:100px;
width:125px;
}
#gl_moospring .gl_moospring span {
display:none;
}
#gl_moospring .gl_moospring1 {
background:url(../images/grabit.jpg) no-repeat;
border-right:5px solid #FFFFFF;
}
#gl_moospring .gl_moospring2 {
background:url(../images/readit.jpg) no-repeat;
border-right:5px solid #FFFFFF;
}
#gl_moospring .gl_moospring3 {
background:url(../images/sayit.jpg) no-repeat;
border-right:5px solid #FFFFFF;
}
#gl_moospring .gl_moospring4 {
background:url(../images/joinus.jpg) no-repeat;
}

/*gl_mooticker CSS*******************/
#gl_mooticker{
  padding:10px 0;
}
#gl_mooticker a {
  text-decoration:none;
}
#gl_mooticker ul {
  margin:0 0 5px 80px;
  line-height:15px;
}
#gl_mooticker li {
  list-style-type:none;
}
#gl_mooticker .tickertitle{
  position:absolute; /*this keeps everything horizontally aligned*/
  font-weight:bold;
  margin-left:40px;
  display:block;
}
#gl_mooticker .controls {
  position:absolute;
}
#gl_mooticker .controls img {
  background-image:url(../images/gl_mooticker_controls.png);
  cursor:pointer;
  height:15px;
  margin-right:5px;
  width:15px;
}
#gl_mooticker .control-prev {
  background-position:0px 0px;
}
#gl_mooticker .control-next {
  background-position:0px -17px;
}

/*gl_mootips CSS***********************/
.tool-tip {
  color:#fff;
  width:139px;
  z-index:13000;
}
.tool-title {
  font-weight:bold;
  font-size:11px;
  margin:0;
  color:#679EF1;
  padding:8px 8px 4px;
  background:url(../images/gl_mootip_bg.png) top left;
}
.tool-text {
  font-size:11px;
  padding:4px 8px 8px;
  background:url(../images/gl_mootip_bg.png) bottom right;
}