/* IE 6 ONLY LAYOUT  STYLESHEET*************************************************
This file only contains CSS fixes for the IE 6 browser. For regular style info use style.css
 */

#gl_navigation { /*the leftblocks*/
  background:#000;
  border-bottom:0px;
  border-left:0px;
  border-top:0px;
  padding-left:40px;
}
#gl_extra { /*the rightblocks*/
  border-bottom:0px;
}
#gl_moomenu {
  height:2.2em; /*set to 54px if you use 2 row menus*/
  background:url(../images/gl_moomenu1-bg.png)repeat;
}
.gl_moomenu li:hover,
.gl_moomenu li a:hover{
  background:url(../images/gl_moomenu1-hover.gif) repeat;
}
#gl_moomenu li li a.parent,
#gl_moomenu li li a.parent:hover {
  background:url(../images/gl_moomenu1-parent_ie6.gif) 95% 50% no-repeat;
}
.gl_moomenu li ul {
width:177px;
}
.block-columnpad {
  background:#F7F7F7;
  border-bottom:1px solid #CCCCCC;
  height:1%;
}
.bottom-r-corner {
  background:#FFF url(../images/bottom-r-corner.png) 100% 10px no-repeat;
}
.bottom-l-corner {
  background:transparent url(../images/bottom-l-corner.png) 0 10px no-repeat;
}
pre {
  font-size:80%;
  overflow:scroll;
}
div#frame div.button#left {
  background: url(../images/prev_ie6.png) no-repeat;
}
div#frame div.button#right {
  background: url(../images/next_ie6.png) no-repeat;
}
#gl_mooticker ul {
  margin:0 0 5px 120px;
}
#gl_moorotator .controls img,
#gl_mooticker .controls img {
  background-image:url(../images/gl_mooticker_controls_ie6.png);
}