/* rating overrides */
/* filemgmt rating bar override */
.fm-rating .ratingbar {
	text-align:left;
}
.fm-rating .small-rating-unit {
	margin: 0;
}
#fm-brokenpage-pagewidth {
 width:80%;
 text-align:left;
 margin:0 auto;
 padding:1px;
}
