<plugin>
    <id>forum</id>
    <name>Forum</name>
    <description>Collaboration System</description>
    <version>3.4.5</version>
    <glfusionversion>2.0.1</glfusionversion>
    <phpversion>7.4.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
</plugin>
