<plugin>
    <id>commentfeeds</id>
    <name>Comment Feeds</name>
    <description>Allows for comment RSS Feeds</description>
    <version>1.1.0</version>
    <glfusionversion>1.7.10</glfusionversion>
    <phpversion>5.6.0</phpversion>
    <url>https://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
    <renamedist>config.php.dist</renamedist>
</plugin>